
*{
    box-sizing: border-box;
}
.container{
    margin:16px;
    display:inline-block;
    position: relative;
    
}
.hover_over_me{
    border-bottom: 1px dotted black;
}
.tooltip{
    bottom: -40px;
    position: absolute;
    background-color: grey;
    padding: 8px;
    border-radius: 4px;
    display: none; 
    color:white;
}
.container:hover .tooltip{
    display: block;
}